/* Explanation in JS tab */

/* Cool font from Google Fonts! */
@font-face {
  font-family: "Anybody";
  src: url("https://assets.codepen.io/1492907/Anybody.woff2") format("woff2");
}
* {
  font-family: "Anybody";
}

body {
	margin: 0px;
}

#container {
	/* Center the text in the viewport. */
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 80pt;
	top: 0;
	bottom: 0;
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	
	font-family: 'Anybody', sans-serif;
	font-size: 80pt;
	font-weight: 700;
	
	text-align: center;
	
	user-select: none;
}

#text3 {
	position: absolute;
	width: 100%;
	display: inline-block;
	padding: 10rem;
	font-family: 'Anybody', sans-serif;
	font-size: 40pt;
	font-weight: 700;
	
	text-align: center;
	
	user-select: none;
}

#bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #000000; /* Optional background color */
}

#bottom-nav marquee {
    white-space: nowrap;
    padding: 5px;
}

#bottom-nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
	transition: transform 0.3s ease, opacity 0.3s ease, text-shadow 0.3s ease;
}

#bottom-nav a:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

#bottom-nav marquee span {
    margin-right: 25px; /* Adjust the margin value as needed */
}