/* Explanation in JS tab */

/* Cool font from Google Fonts! */
@font-face {
  font-family: "Anybody";
  src: url("https://assets.codepen.io/1492907/Anybody.woff2") format("woff2");
}
* {
  font-family: "Anybody";
  margin: 0;
}

body {
	margin: 0px;
}

#container {
	/* Center the text in the viewport. */
	position: absolute;
	margin: auto;
	width: 100vw;
	height: 80pt;
	top: 0;
	bottom: 0;
	
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	
	font-family: 'Anybody', sans-serif;
	font-size: 90pt;
	font-weight: 700;
	letter-spacing: 1em
	
	text-align: center;
	
	user-select: none;
}
